.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mainContainer{
padding: 50px;
}
.mainContainer form{
  display: flex;
  gap: 0px 10px;
  padding: 10px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  width: min-content;
  background-color: bisque;
  }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#submit{
  border-style: none;
  border-radius: 5px;
  background-color: coral;
  color: azure;
  width: 60px;
  height: 25px;
}

.App-link {
  color: #61dafb;
}
#foodContainer{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px;
  margin-top: 50px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
